.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
  margin-top: 3rem;
  input {
    margin: 0.2rem;
    border: 2px solid slategrey;
    border-radius: 5px;
  }

  .search-input {
    height: 2rem;
    padding-bottom: 0px;
  }
}
